# yarn
yarn.lock
.yarn/
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# node modules
node_modules

# ignore transpiled files
dist
lib

.env

#misc
.DS_Store

.eslintcache
